* {

    p,
    span {
        font-family: sans-serif;
    }
}

.row {
    margin-right: unset !important;
    margin-left: unset !important;
    width: 100%;
}

.main_div_row {
    background-color: #f7f7f7;
    text-align: center;
    font-size: 15px;

    @media (min-width :768px) and (max-width: 796px) {
        font-size: 14px;
    }

    @media (min-width :300px) and (max-width: 350px) {
        font-size: 9px;
    }

    @media (min-width :351px) and (max-width: 400px) {
        font-size: 12px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;

        @media (min-width :768px) and (max-width: 1199px) {
            width: 20%;
        }

        @media (min-width :501px) and (max-width: 767px) {
            width: 30%;
        }

        @media (min-width :300px) and (max-width: 500px) {
            width: 50%;
        }
    }

    p {
        display: inline-block;
        margin-top: 1rem !important;
        padding: 0px 10px 0px 10px;
        color: #818181;
    }

    .username {
        font-weight: bold;
        color: #e37f59;
    }

    .second_div {
        margin: auto;

        p {
            cursor: pointer;
        }
    }
}

.second_main_div {
    text-align: center;
    padding: 35px 0 35px 0;
    background: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    p {
        width: 100%;
        color: #fff;
    }

    .first_letter {
        font-size: 23px;

        i {
            font-size: 40px;
        }

        @media (min-width :400px) and (max-width: 600px) {
            font-size: 20px;

            i {
                font-size: 35px;
            }
        }

        @media (max-width: 399px) {
            font-size: 16px;

            i {
                font-size: 30px;
            }
        }
    }

    .second_letter {
        font-size: 20px;

        @media (min-width :400px) and (max-width: 600px) {
            font-size: 17px;
        }

        @media (max-width: 399px) {
            font-size: 13px;
        }
    }
}

.thaird_main_div {
    margin: 30px !important;
    padding: 45px 0px 0px 0px;
    width: 70%;
    margin-right: 15% !important;
    margin-left: 15% !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 5px rgba(0, 0, 0, 0.13);

    @media (max-width: 650px) {
        width: 80%;
        margin-right: 10% !important;
        margin-left: 10% !important;
    }

    .first {
        text-align: center;

        p {
            width: 100%;
            font-weight: bold;
            color: #e37f59;
            font-size: 22px;

            @media (min-width :400px) and (max-width: 650px) {
                font-size: 19px;
            }

            @media (max-width: 399px) {
                font-size: 16px;
            }
        }
    }

    .second {
        padding: 0px 40px 0px 40px;

        @media (min-width :400px) and (max-width: 650px) {
            padding: 0px 30px 0px 30px;

        }

        @media (max-width: 399px) {
            padding: 0px 20px 0px 20px;
        }

        p {
            color: #818181;
            font-size: 18px;
            margin-bottom: 2rem !important;

            @media (min-width :400px) and (max-width: 650px) {
                font-size: 15px;
            }

            @media (max-width: 399px) {
                font-size: 12px;
            }
        }
    }

    .thaird {
        background-color: #e3edef;

        .progress {
            width: 100%;
            height: 6px;
            background-color: #e3edef;
            border-radius: unset;
        }

        .progress-bar {
            background-color: #529faf;
        }

        .first_title {
            text-align: center;

            p {
                width: 100%;
                font-weight: bold;
                color: #529faf;
                font-size: 20px;
                padding: 45px 0px 45px 0px;
                margin-bottom: unset;

                @media (min-width :400px) and (max-width: 650px) {
                    font-size: 17px;
                }

                @media (max-width: 399px) {
                    font-size: 14px;
                }
            }
        }

        .actionts {
            text-align: center;

            p {
                width: 100%;
                margin: 0px 0px 45px 0px;

                span {
                    padding: 20px;
                    background-color: #fff;
                    color: #818181;
                    margin: 0px 15px 0px 15px;
                    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 5px rgba(0, 0, 0, 0.13);
                    border-radius: 4px;
                    cursor: pointer;


                    @media (min-width :411px) and (max-width: 650px) {
                        font-size: 13px;
                        margin: 0px 12px 0px 12px;
                        padding: 17px;
                    }

                    @media(min-width :350px)and (max-width: 410px) {
                        font-size: 10px;
                        margin: 0px 9px 0px 9px;
                        padding: 13px;
                    }

                    @media(max-width: 349px) {
                        font-size: 10px;
                        margin: 0px 8px 0px 8px;
                        padding: 13px;
                    }
                }

                .selected_span {
                    background-color: #529faf !important;
                    color: #fff !important;
                }
            }
        }

        .pagination_row {
            text-align: center;

            p {
                width: 100%;
                margin: 0px 0px 45px 0px;

                span {
                    padding: 5px;
                    color: #818181;
                    margin: 0px 5px 0px 5px;
                    border-bottom: solid 1px;
                    cursor: pointer;

                    @media (min-width :400px) and (max-width: 650px) {
                        font-size: 17px;
                    }

                    @media (max-width: 399px) {
                        font-size: 14px;
                    }
                }

                .selected_number_pagination {
                    color: #e37f59;
                    border-bottom: solid 1px #e37f59;

                }
            }
        }
    }
}