<div class="row main_div_row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="row">
      <img src="assets/images/log.jpeg" class="logo">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 second_div">
    <p>{{'How_it_works' | translate}}</p>
    <p>{{'Psychological_Tests' | translate}}</p>
    <p>{{'Blog' | translate}}</p>
    <p>{{'FAQ' | translate}}</p>

  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 second_div">
    <p class="username">{{'username' | translate}}</p>
    <p>{{'for_therapists' | translate}}</p>
    <p (click)="ChangeToNextLanguage()">
      {{'next_language' | translate}}
    </p>
  </div>
</div>




<div class="row second_main_div">
  <div class="first_circle"></div>
  <div class="second_circle"></div>
  <p class="first_letter">
    <i class="fa fa-check-circle"></i>
    {{'Congratulation' | translate}}
  </p>
  <p class="second_letter">
    {{'meet' | translate}}
  </p>
</div>




<div class="row thaird_main_div">
  <div class="row first">
    <p>{{'questionnaire' | translate}}</p>
  </div>

  <div class="row second">
    <p>
      {{'Answering' | translate}}
    </p>
  </div>

  <div class="row thaird">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': ReturnPercentage()}" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row first_title">
      <p>
        {{languageProvider.ReturnValueBasedOnLanguage(QestionsAndAnswers[CurrentStep-1].Question.Arabic, QestionsAndAnswers[CurrentStep-1].Question.English)}}
      </p>
    </div>

    <div class="row actionts">
      <p>
        <span *ngFor="let answer of QestionsAndAnswers[CurrentStep-1].Answers"
          [ngClass]="{'selected_span' : QestionsAndAnswers[CurrentStep-1].selectedAnswer === answer.AnswerId}"
          (click)="selectAnswer(answer.AnswerId)">
          {{languageProvider.ReturnValueBasedOnLanguage(answer.Arabic, answer.English)}}
        </span>
      </p>
    </div>

    <div class="row pagination_row">
      <p>
        <span *ngFor="let Step of Steps ; let i = index"
          [ngClass]="{'selected_number_pagination':QestionsAndAnswers[Step-1].selectedAnswer !== null || CurrentStep === Step}"
          (click)="GoToPagination(i)">
          {{ReturnStep(Step)}}
          <i *ngIf="Step === 7" class="fa fa-check"></i>
        </span>
      </p>
    </div>
  </div>

</div>